/* General styles remain the same */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Plus Jakarta Sans', serif;
    letter-spacing: 0.8px;
    font-weight: 400;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
}

*::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
}

html {
    font-size: 16px; /* 1rem = 16px */
    scroll-behavior: smooth;
}

body {
    background-image: linear-gradient(170deg, black, #0000), linear-gradient(60deg, #00ff2aee, black 70%);
    width: 100%;
    min-height: 100vh;
}

.main {
    width: 100%;
    overflow: hidden;
}

.logo img {
    margin-top: 20px; /* 38.4px */
    width: 80px; /* 40px */
    height: auto;
}

.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 43.2px; /* 2.7rem */
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000; /* Ensure it stays above other content */
}

.navbar a {
    color: #E6E6E6;
    text-align: center;
    text-decoration: none;
    font-size: 15px; /* 0.9375rem */
}

.navbar a:hover {
    color: white;
}

.navbar .logo {
    margin-right: auto;
}

.navbar .nav-items {
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px); /* 0.3125rem */
    padding: 10px 20px; /* 0.625rem 1.25rem */
    display: flex;
    gap: 50px; /* 3.125rem */
    border-radius: 14px; /* 0.875rem */
    align-items: center;
}

.hamburger-menu {
    margin-top: 20px; /* 1.25rem */
    display: none;
    font-size: 18px; /* 1.125rem */
    cursor: pointer;
    color: #E6E6E6;
    width: 46px; /* 3.25rem */
    height: 46px; /* 3.25rem */
    align-items: center;
    justify-content: center;
    padding: 12px; /* 0.75rem */
    border-radius: 14px; /* 0.875rem */
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px); /* 0.3125rem */
}

.popup-menu {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 999;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.popup-menu a {
    color: #E6E6E6;
    text-align: center;
    text-decoration: none;
    font-size: 18px; /* 1.5rem */
    margin: 20px 0; /* 1.25rem 0 */
}

.popup-menu a:hover {
    color: white;
    transition: color 0.3s ease-in-out;
}

.popup-menu a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: linear-gradient(90deg, #00ff2a, black);
    transition: width 0.3s ease-in-out;
}

.popup-menu a:hover::after {
    width: 100%;
}

.content {
    background: #000;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2.33rem;
    padding-top: 10rem;
    /* Add padding from the top to place below navbar */
}

.program-image {
    width: calc(100% - 30px); /* Adjust width to account for margin */
    height: auto;
    margin: 15px; /* Add margin around the image */
    object-fit: cover;
    border-radius: 0.875rem; /* 14px */
    object-position: center;
    z-index: 1; /* Ensure the image is on the correct layer */
}

.course-summary {
    margin: 70px 135px;
    display: flex;
    flex-direction: row; /* Aligns the heading and paragraph side by side */
    justify-content: space-between; /* Creates space between the summary and the paragraph */
    align-items: flex-start; /* Aligns items to the top */
}

.course-summary .heading {
    color: #E6E6E6;
    flex: 1; /* Makes the heading section take up some space */
    margin-right: 20px; /* Adds some space between heading and paragraph */
}

.course-summary .heading h3 {
    font-size: 28px;
    font-weight: 700;
    margin-top: 0;
}

.course-summary .paragraph {
    color: #E6E6E699;
    flex: 3; /* Makes the paragraph section take up more space */
    display: flex;
    flex-direction: column; /* Stacks paragraphs vertically */
    justify-content: flex-start; /* Aligns paragraphs to the top */
}

.course-summary .paragraph p {
    margin: 0 0 20px 0; /* Reduces the left and right margin, adds space below each paragraph */
    line-height: 1.6;
    font-size: 16px;
    text-align: left; /* Ensures all paragraphs are left-aligned */
}

hr {
    width: 85%; /* Adjust the width as needed */
    margin: 0 auto; /* Center the hr element */
    height: 1px; /* Adjust the height to reduce thickness */
    background-color: #E6E6E6;
    border: none; /* Remove the default border */
}

.course-summary .skills {
    color: #E6E6E6;
    flex: 3; /* Makes the skills section take up more space */
    display: flex;
    flex-direction: column; /* Stacks skills vertically */
    justify-content: flex-start; /* Aligns skills to the top */
}

.course-summary .skills p {
    margin: 0 0 20px 0; /* Reduces the left and right margin, adds space below each skill */
    line-height: 1.6;
    font-size: 24px;
    text-align: left; /* Ensures all skills are left-aligned */
}

/* Add this CSS to style the footer */
footer {
    background-color: transparent;
    /* Change as needed */
    padding: 10px 20px;
}

.footer-content {
    width: 100%;
    padding: 1em 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-content a,
.right-content a {
    font-size: 0.75em;
    text-decoration: none;
    color: #E6E6E699;
    /* Change as needed */
}

.left-content a:hover {
    color: #E6E6E6;
}

.right-content a:hover {
    color: #E6E6E6;
}

/* Responsive Design */

/* Mobile Phones*/
@media (max-width: 768px) {
    .logo img {
        margin-top: 20px; /* 38.4px */
        width: 60px; /* 40px */
        height: auto;
    }

    .navbar {
        padding: 0 1.5rem; /* Reduce navbar padding */
    }

    .navbar .nav-items {
        display: none; /* Hide navbar items */
    }

    .hamburger-menu {
        display: flex; /* Show hamburger menu */
    }

    .content {
        padding-top: 6rem; /* Adjust padding for smaller screens */
        padding-left: 1rem; /* Reduce left margin */
        padding-right: 1rem; /* Reduce right margin */
    }

    .course-summary {
        margin: 25px 40px; /* Reduce margins for course-summary */
        flex-direction: column; /* Stack the heading and paragraph */
    }

    .course-summary .heading h3{
        margin-bottom: 20px;
        font-size: 24px;
    }

    .course-summary .paragraph p{
        margin: 0; /* Remove default margin */
        margin-bottom: 20px; /* Space between paragraphs */
        font-size: 15px ; /* Adjust font size if necessary */
        line-height: 1.6;
        text-align: justify; /* Align the paragraph text */
    }

    .course-summary .skills {
        width: 100%; /* Ensure skills take up full width */
    }

    .course-summary .skills p {
        font-size: 16px; /* Reduce font size for better readability */
        margin-bottom: 10px; /* Ensure there's space between skills */
        word-wrap: break-word; /* Force skills to wrap to next line */
    }

    .footer-content {
        flex-direction: column; /* Stack footer items */
        text-align: center;
    }

    .left-content a, .right-content a {
        font-size: 0.85em;
        margin-bottom: 10px;
    }

}
