/* General styles remain the same */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Plus Jakarta Sans', serif;
    letter-spacing: 0.05rem;
    font-weight: 400;
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
}

*::-webkit-scrollbar {
    display: none;
    /* Safari and Chrome */
}

html {
    font-size: 1rem;
    /* 1rem = 16px */
}

body {
    background-image: linear-gradient(170deg, black, #0000), linear-gradient(60deg, #00ff2aee, black 70%);
    width: 100%;
    min-height: 100vh;
}

.main {
    width: 100%;
    overflow: hidden;
}

.logo img {
    margin-top: 2rem;
    /* 38.4px */
    width: 5rem;
    /* 40px */
    height: auto;
}

.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2.7rem;
    /* 43.2px */
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    /* Ensure it stays above other content */
}

.navbar a {
    color: #E6E6E6;
    text-align: center;
    text-decoration: none;
    font-size: 0.9375rem;
    /* 15px */
}

.navbar a:hover {
    color: white;
}

.navbar .logo {
    margin-right: auto;
}

.navbar .nav-items {
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(0.3125rem);
    /* 5px */
    padding: 0.625rem 1.25rem;
    /* 10px 20px */
    display: flex;
    gap: 3.125rem;
    /* 50px */
    border-radius: 0.875rem;
    /* 14px */
}

.hamburger-menu {
    margin-top: 1.25rem;
    /* 20px */
    display: none;
    font-size: 1.125rem;
    /* 18px */
    cursor: pointer;
    color: #E6E6E6;
    width: 3.25rem;
    /* 52px */
    height: 3.25rem;
    /* 52px */
    align-items: center;
    justify-content: center;
    padding: 0.75rem;
    /* 12px */
    border-radius: 0.875rem;
    /* 14px */
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(0.3125rem);
    /* 5px */
}

.content {
    background: #000;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2.33rem;
    padding-top: 10rem;
    /* Add padding from the top to place below navbar */
}

.program-image {
    width: calc(100% - 30px);
    /* Adjust width to account for margin */
    height: auto;
    margin: 15px;
    /* Add margin around the image */
    object-fit: cover;
    border-radius: 0.875rem;
    /* 14px */
    object-position: center;
    z-index: 1;
    /* Ensure the image is on the correct layer */
}

.course-summary {
    margin: 70px 135px;
    display: flex;
    flex-direction: row; /* Aligns the heading and paragraph side by side */
    justify-content: space-between; /* Creates space between the summary and the paragraph */
    align-items: flex-start; /* Aligns items to the top */
}

.course-summary .heading {
    color: #E6E6E6;
    flex: 1; /* Makes the heading section take up some space */
    margin-right: 20px; /* Adds some space between heading and paragraph */
}

.course-summary .heading h3 {
    font-size: 28px;
    font-weight: 700;
    margin-top: 0;
}

.course-summary .paragraph {
    color: #E6E6E699;
    flex: 3; /* Makes the paragraph section take up more space */
    display: flex;
    flex-direction: column; /* Stacks paragraphs vertically */
    justify-content: flex-start; /* Aligns paragraphs to the top */
}

.course-summary .paragraph p {
    margin: 0 0 20px 0; /* Reduces the left and right margin, adds space below each paragraph */
    line-height: 1.6;
    font-size: 16px;
    text-align: left; /* Ensures all paragraphs are left-aligned */
}

hr {
    width: 85%; /* Adjust the width as needed */
    margin: 0 auto; /* Center the hr element */
    height: 1px; /* Adjust the height to reduce thickness */
    background-color: #E6E6E6;
    border: none; /* Remove the default border */
}

.course-summary .skills {
    color: #E6E6E6;
    flex: 3; /* Makes the skills section take up more space */
    display: flex;
    flex-direction: column; /* Stacks skills vertically */
    justify-content: flex-start; /* Aligns skills to the top */
}

.course-summary .skills p {
    margin: 0 0 20px 0; /* Reduces the left and right margin, adds space below each skill */
    line-height: 1.6;
    font-size: 24px;
    text-align: left; /* Ensures all skills are left-aligned */
}

/* Add this CSS to style the footer */
footer {
    background-color: transparent;
    /* Change as needed */
    padding: 10px 20px;
}

.footer-content {
    width: 100%;
    padding: 1em 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-content a,
.right-content a {
    font-size: 0.75em;
    text-decoration: none;
    color: #E6E6E699;
    /* Change as needed */
}

.left-content a:hover {
    color: #E6E6E6;
}

.right-content a:hover {
    color: #E6E6E6;
}

/* Responsive Design */

/* For mobile devices (max-width: 767px) */
@media (max-width: 767px) {
    .navbar {
        padding: 0 1.5rem; /* Reduce navbar padding */
    }

    .navbar .nav-items {
        display: none; /* Hide navbar items */
    }

    .hamburger-menu {
        display: block; /* Show hamburger menu */
    }

    .content {
        padding-top: 6rem; /* Adjust padding for smaller screens */
        padding-left: 1rem; /* Reduce left margin */
        padding-right: 1rem; /* Reduce right margin */
    }

    .course-summary {
        margin: 25px 45px; /* Reduce margins for course-summary */
        flex-direction: column; /* Stack the heading and paragraph */
    }

    .course-summary .heading {
        margin-bottom: 20px;
        font-size: 22px;
    }

    .course-summary .paragraph {
        margin: 0; /* Remove default margin */
        margin-bottom: 20px; /* Space between paragraphs */
        font-size: 16px; /* Adjust font size if necessary */
        line-height: 1.6;
        text-align: justify; /* Align the paragraph text */
    }

    .course-summary .skills {
        width: 100%; /* Ensure skills take up full width */
    }

    .course-summary .skills p {
        font-size: 16px; /* Reduce font size for better readability */
        margin-bottom: 10px; /* Ensure there's space between skills */
        word-wrap: break-word; /* Force skills to wrap to next line */
    }

    .footer-content {
        flex-direction: column; /* Stack footer items */
        text-align: center;
    }

    .left-content a, .right-content a {
        font-size: 0.85em;
        margin-bottom: 10px;
    }
}
